//Import variables
@use "variables" as *;
//Import Modules
//Import Modules
@use "./modules/buttons";
@use "./modules/cards";
@use "./modules/forms";
@use "./modules/pages";
@use "./modules/links";
@use "./modules/overlays";
@use "./modules/typography";

h1.primary,
h2.primary,
h3.primary,
h4.primary,
h5.primary,
h6.primary {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  color: $text-light;
  font-weight: bold;
  max-width: 100%;
}

h1.secondary,
h2.secondary,
h3.secondary,
h4.secondary,
h5.secondary,
h6.secondary {
  margin: 0;
  padding: 0;
  font-family: $font-secondary;
  font-weight: 400;
  color: $text-light;
  max-width: 100%;
}

label.primary {
  font-family: $font-primary;
}

label.secondary {
  font-family: $font-secondary;
}

hr {
  margin: 0;
  padding: 0;
  width: 5px;
  height: 40px;
  border: none;
  background-color: orange;
}

h1 {
  font-size: $heading-1;
}

h2 {
  font-size: $heading-2;
}

h3 {
  font-size: $heading-3;
}

h4 {
  font-size: $heading-4;
}

h5 {
  font-size: $heading-5;
}

a {
  font-family: "Barlow", sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
  font-family: $font-tertiary;
  font-size: $paragraph;
  color: $text-light;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $background-dark;
  overflow-x: hidden;
}

//Code Block Styling
span {
  font-family: $font-tertiary;
  color: #63b4ff;
}

.token.operator {
  color: #ffee00;
}

.token.boolean {
  color: $orange;
}

.token.punctuation {
  color: $purple;
}

.token.property-access {
  color: $orange;
}

.token.maybe-class-name {
  color: #ffee00;
}

.token {
  color: white;
}
