//Import variables
@use "variables" as *;
//Import Modules
//Import Modules
@use "./modules/buttons";
@use "./modules/cards";
@use "./modules/forms";
@use "./modules/pages";
@use "./modules/links";
@use "./modules/overlays";
@use "./modules/typography";

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $background-dark;
  overflow-x: hidden;
}

//Code Block Styling
span {
  font-family: $font-tertiary;
  color: #63b4ff;
}

.token.operator {
  color: #ffee00;
}

.token.boolean {
  color: $orange;
}

.token.punctuation {
  color: $purple;
}

.token.property-access {
  color: $orange;
}

.token.maybe-class-name {
  color: #ffee00;
}

.token {
  color: white;
}
